<div class="cart-menu--wrapper" x-show="cartMenuOpen">
  <div class="bg-blk-opacity-05" x-on:click="cartMenuOpen = false"></div>
  <div class="cart-menu">
    <div class="cart-menu__header">
      <h2>BASKET</h2>
      <div x-on:click="cartMenuOpen = false">
        <p class="cart-menu__header-xclose">X CLOSE</p>
      </div>
    </div>
    <div class="cart-menu__total-items">
      <p>Total items:
        <span>0</span>
      </p>
    </div>
    <div class="cart-menu__content">
      <p>Your cart is currently empty.</p>
      <p>Start shopping</p>
    </div>
    <div class="cart-menu__footer">
      <p class="cart-menu__footer-title">JOIN MCLAREN PLUS FOR FREE. GET 10% OFF YOUR ORDERS</p>
      <button class="cart-menu__footer-btn">JOIN NOW</button>
    </div>
  </div>
</div>