<div class="opacity-black-bg" x-show="cartMenuOpen">
  <div class="cart-menu">
    <div class="cart-menu__header">
      <h2>BASKET</h2>
      <div x-on:click="cartMenuOpen = false">
        <p>X CLOSE</p>
      </div>
    </div>
  </div>
</div>