<div class="opacity-black-bg" x-show="cartMenuOpen">
  <div class="cart-menu">
    <div class="cart-menu__header">
      <h2>BASKET</h2>
      <div x-on:click="cartMenuOpen = false">
        <p class="cart-menu__header-xclose">X CLOSE</p>
      </div>
    </div>
    <div class="cart-menu__total-items">
      <p>Total items:
        <span>0</span>
      </p>
    </div>
  </div>
</div>