<div class="cart-menu--wrapper" x-show="cartMenuOpen">
  <div class="bg-blk-opacity-05" x-on:click="cartMenuOpen = false"></div>
  <div class="cart-menu">
    <div class="cart-menu__header">
      <h2>BASKET</h2>
      <button class="btn--x-close" x-on:click="cartMenuOpen = false">X CLOSE</button>
    </div>
    <div class="cart-menu__total-items">
      <p>Total items:
        <span>0</span>
      </p>
    </div>
    <div class="cart-menu__content">
      <p>Your cart is currently empty.</p>
      <p>Start shopping</p>
    </div>
    <div class="cart-menu__footer">
      {% render 'mclaren-plus-cta' %}
    </div>
  </div>
</div>