<div class="flag-menu" x-show="flagMenuOpen">
  <div class="opacity-black-bg">
    <div class="flag-menu__box">
      <div class="flag-menu__box-icon-close" x-on:click="flagMenuOpen = false">
        {% render 'icon-ham-menu-close' %}
      </div>
      <div class="flag-menu__box-title">
        <h2>NOW SHIPPING WORLDWIDE</h2>
      </div>
      <div class="flag-menu__box-content">
        <p>Change your shipping country</p>
        <select name="country" id="">
          <option value="GB" selected="">United Kingdom</option>
        </select>
        <button type="button" class="btn-primary btn--orange">Save</button>
      </div>
    </div>
  </div>
</div>
{% comment %}   @click.away="flagMenuOpen = false" {% endcomment %}