<section class="mclaren-plus-cta">
  <div class="mclaren-plus-cta__content">
    <h3>JOIN McLaren PLUS FOR FREE. GET 10% OFF YOUR ORDERS
    </h3>
    <button class="cart-menu__footer-btn">JOIN NOW</button>
  </div>
</section>