<div class="header" x-data="{ hamMenuOpen: false, loginMenuOpen: false, cartMenuOpen: false, flagMenuOpen: false, searchBtnHidden: true }">
  <!-- HAM menu -->
  {% render 'ham-menu' %}
  <div class="header-annbar">
    <div class="header-annbar__middle-col">
      <p>🚚 free delivery over $90</p>
    </div>
    <div class="header-annbar__right-col">
      <!-- FLAG menu -->
      <div class="header-annbar__flag-wrapper">
        <button class="header-annbar__flag-btn" x-on:click="flagMenuOpen = true">
          {% render 'icon-flag-uk' %}
        </button>
        {% render 'flag-menu' %}
      </div>
      <!-- LOGIN menu -->
      <div class="header-annbar__login-wrapper">
        <button class="header-annbar__login-btn" x-on:click="loginMenuOpen = true">
          {% render 'icon-login' %}
          login
        </button>
        {% render 'login-menu' %}
      </div>
      <!-- CART menu -->
      <div class="header-annbar__cart-wrapper">
        <button class="header-annbar__cart-btn" x-on:click="cartMenuOpen = true">
          {% render 'icon-cart' %}
          <span class="header-annbar__cart-count">0</span>
        </button>
        {% render 'cart-menu' %}
      </div>
    </div>
  </div>

  <div class="header-menu">
    <div class="header-menu__main-menu">
      <div class="header-menu__main-menu_icon-ham" x-on:click="hamMenuOpen = true">
        {% render 'icon-ham-menu-open' %}
      </div>
      <div class="header-menu__main-menu_links">
        <!-- Main menu -->
        {% for link in linklists.main-menu.links -%}
          <div class="header-menu__main-menu_link">
            {{ link.title | link_to: link.url }}
          </div>
        {%- endfor %}
        <button
          class="header-menu__main-menu_search"
          x-show="searchBtnHidden"
          x-on:click="searchBtnHidden = false">
          <span class="header-menu__main-menu_search-title" href="#">SEARCH</span>
          {% render 'icon-search' %}
        </button>
      </div>
    </div>
    <div class="header-menu__logo">
      {% render 'mclaren-logo' %}
    </div>
  </div>
</div>