<div class="header">


  <div class="header__annbar">
    <div class="header__annbar--middle-col">
      <p>🚚 free delivery over $90</p>
    </div>

    <div class="header__annbar--right-col">
      <div class="header__annbar--login">
        {% render 'flag-uk' %}
        {% render 'icon-login' %}
        <p>LOGIN</p>
      </div>

      <div class="header__annbar--cart-wrapper">
        <div class="header__annbar--cart">
          {% render 'icon-cart' %}
        </div>
        <div class="header__annbar--cart-count">
          <span>0</span>
        </div>
      </div>
    </div>
  </div>


  <div class="header__menu">

    <div class="header__menu--main-menu">
      <div class="header__menu-ham">
        {% render 'icon-ham-menu' %}
      </div>

      <div class="header__menu--menu-links">
        <!-- Main menu -->
        {% for link in linklists.main-menu.links -%}
          {{ link.title | link_to: link.url }}
        {%- endfor %}
      </div>
    </div>

  </div>


</div>