<section class="homepage-carousel">
  <div class="homepage-carousel__left">
    <img
      class="carousel__image"
      src="https://cdn.shopify.com/s/files/1/0798/8694/2511/files/mclaren-store-carousel.jpg?v=1690563511"
      alt="carousel-image-1">
    <div class="left-carousel__content">
      <h2 class="carousel__title">SUMMER ESSENTIALS</h2>
      <button class="btn--primary btn--orange btn--carousel">SHOP NOW</button>
    </div>
    <div class="carousel__btn--switch">
      <button class="btn--switch"></button>
      <button class="btn--switch"></button>
      <button class="btn--switch"></button>
    </div>
  </div>

  <div class="homepage-carousel__middle" hidden>
    <img
      class="carousel__image"
      src="https://cdn.shopify.com/s/files/1/0798/8694/2511/files/image_2023-07-30_114609355.png?v=1690706774"
      alt="carousel-image-1">
    <div class="middle-carousel__content">
      <button class="btn--primary btn--orange btn--carousel">SHOP NOW</button>
    </div>
    <div class="carousel__btn--switch">
      <button class="btn--switch"></button>
      <button class="btn--switch"></button>
      <button class="btn--switch"></button>
    </div>
  </div>
</section>



{% render 'mclaren-plus-cta' %}