@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

:root {
    --papaya-orange: #f1892a;
    --papaya-orange-hover: #aa6f1d;
    --clr-white: #ffffff;
    --clr-black: black;
    --clr-footer-grey: #adadad;
}

.btn--primary {
    border: none;
    color: var(--clr-white);
}

.btn--primary:hover {
    background-color: var(--papaya-orange-hover);
}

.btn--orange {
    background-color: var(--papaya-orange);
}

.btn--x-close {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
}

.join-now-btn--blk-white {
    padding: .75rem;
    min-width: 10rem;
    border: none;
    background-color: var(--clr-white);
    cursor: pointer;
}

.join-now-btn--blk-white:hover {
    color: var(--clr-white);
    background-color: var(--clr-black);
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    position: relative;
    color: black;
}

h1, h2, h3, h4 {
    font-family: 'Space Grotesk', sans-serif;
    color: black;
}

h2 {
    font-weight: 700;
}

p {
    color: black;
}

.bg-blk-opacity-05 {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.5;
    z-index: 30;
}

.header-annbar__flag-btn,
.header-annbar__login-btn,
.header-annbar__cart-btn {
    padding: 0;
    margin: 0;
}

.ham-menu--wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.icon-search--clr-white {
    fill: white;
}

                                                                                        /* header announcement bar section  */

.header-annbar {
    background-color: var(--papaya-orange);
    color: var(--clr-white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px 20px;
    font-size: 14px;
}

.header-annbar__middle-col {
    grid-column: 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.header-annbar > .header-annbar__middle-col p,
.header__annbar--login-btn {
    color: #ffffff;
}

.header-annbar__right-col {
    grid-column: 3 / 3;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.header-annbar__login-btn,
.header-annbar__cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    color: var(--clr-white);
    background-color: transparent;
    border: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: normal;
}
                                                                                        /* header flag menu section  */
.header-annbar__flag-wrapper{
    display: flex;
}

.header-annbar__flag-btn {
    cursor: pointer;
    border: none;
}

.flag-menu__box {
    position: absolute;
    z-index: 50;
    background-color: var(--clr-white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; /* max-width */
    height: 400px; /* max-height */
    padding: 2.25rem;
}

.flag-menu__box-icon-close {
    max-width: 2rem;
    max-height: 2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.flag-menu__box-title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 50px;
    padding-bottom: 1.125rem;
    border-bottom: 2px solid black;
    margin-bottom: 2.125rem;
}

.flag-menu__box-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: normal;
    text-transform: none;
    font-size: 1rem;
    color: black;
}

.flag-menu__box-content select {
    width: 100%;
    padding: 1rem .75rem;
}

.flag-menu__box-content button {
    width: 100%;
    padding: 1rem 2.5rem;
}

                                                                                        /* header menu section  */

.header-menu {
    background-color: var(--clr-black);
    display: flex;
    justify-content: space-between;
}

.header-menu__main-menu {
    display: flex;
    align-items: center;
}

.header-menu__main-menu_icon-ham {
    cursor: pointer;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    margin-right: .5rem;
}

.ham-svg {
    --button-color: var(--clr-white);
}

.ham-svg:hover {
    --button-color: var(--papaya-orange);
}

.header-menu__main-menu_links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* using hidden borders to achieve showing only bottom border on hover
without moving the text up. Couldn't do it with additional div element,
cause it doesn't show when hovering on Anchor tag from main menu loop */
.header-menu__main-menu_link a {
    color: var(--clr-white);
    text-decoration: none;
    height: 95.46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.header-menu__main-menu_links a:hover {
    border-bottom: 6px solid var(--papaya-orange);
    transition: border 0.3s ease-in-out;
}

.header-menu__main-menu_search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu__main-menu_search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.header-menu__main-menu_search-title {
    color: var(--clr-white);
    text-decoration: none;
    height: 95.46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: .5rem;
}

.header-menu__main-menu_search-form-input {
    width: 170px;
    margin-left: .5rem;
    outline: 0;
    color: var(--clr-white);
    background-color: transparent;
    border-width: 0 0 1px;
    border-color: var(--clr-white);
}

.header-menu__logo {
    background-color: var(--clr-white);
    padding: 2rem 1rem 2rem 11rem;
    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
}

                                                                                        /* ham menu section  */

.ham-menu {
    position: absolute;
    z-index: 50;
    max-width: 750px;
    background-color: var(--papaya-orange);
    padding: 3rem 2.5rem;
}

.ham-menu__icon-close {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    margin-bottom: 2.25rem;
}

.ham-menu__menu-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid black;
}

.ham-menu__menu-links a {
    text-decoration: none;
    color: var(--clr-black);
    font-size: 4.375rem;
    line-height: 1;
    font-family: 'Space Grotesk', sans-serif;
}

.ham-menu__menu-links a:hover {
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.ham-menu__menu-links--every-link {
    display: flex;
    justify-content: space-between;
}

.ham-menu__footer-links {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 1rem;
    font-size: 1rem;
}

.ham-menu__footer-links a {
    text-decoration: none;
    color: var(--clr-black);
}

                                                                                        /* cart menu section  */

.cart-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    width: 28%;
    height: 100vh;
    background-color: #ffffff;
    padding: 3rem 2.5rem;
}

.cart-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
}

.cart-menu__total-items {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.cart-menu__content {
    font-size: 1rem;
    font-weight: normal;
}

.cart-menu__footer {
    margin-top: 1.25rem;
}

.cart-menu__footer .mclaren-plus-cta {
    padding: .75rem;
    text-align: center;
}

.cart-menu__footer .mclaren-plus-cta__content {
    flex-direction: column;
    gap: .75rem;
}

.cart-menu__footer .mclaren-plus-cta__content-title {
    font-size: 1.25rem;
    padding: .75rem;
    line-height: 1;
}
                                                                                        /* login menu section  */

.login-menu {
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    /* max-height: 600px; */
    background-color: var(--clr-white);
    cursor: auto;
    padding: 2.25rem;
}

.login-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.25rem;
    border-bottom: 2px solid var(--clr-black);
    margin-bottom: 2.25rem;
}

.login-menu__content--title {
    margin-bottom: 1rem;
    font-size: normal;
}

.login-menu__content-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-menu__content-form--email,
.login-menu__content-form--pwd {
    width: 100%;
    padding: .75rem .75rem;
    border: 1px solid grey;
    outline: none;
}

.login-menu__content-form--email:focus,
.login-menu__content-form--pwd:focus {
    border: 1px solid var(--clr-black);
}

.login-menu__content-form--submit {
    width: 100%;
    padding: .75rem;
}

.login-menu__footer {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

                                                                                        /* mclaren plus CTA section  */

.mclaren-plus-cta {
    background-color: var(--papaya-orange);
    width: 100%;
    padding: 2rem 1.25rem;
}

.mclaren-plus-cta__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: 'Noto Sans',sans-serif;
}

.mclaren-plus-cta__content-title {
    background-color: var(--clr-black);
    color: var(--clr-white);
    font-size: 2rem;
}

                                                                                        /* FOOTER section  */

.footer {
    padding: 1.85rem 1.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-nav-top,
.footer-nav-middle,
.footer-nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-nav-top-ul,
.footer-nav-middle-ul,
.footer-nav-bottom-ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-nav-bottom-ul {
    display: flex;
    gap: 2rem;
    font-size: 16px;
}

.footer-nav-top__li-link {
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 2px solid var(--papaya-orange);
}

.footer-nav-top__li-link:first-of-type {
    border-left: none;
}

.footer-nav-middle__li-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-nav-bottom__li-link:first-of-type {
    padding-left: 2rem;
}

.footer-nav-bottom__li-link:last-of-type {
    padding-right: 2rem;
}

.footer-nav-top__li-link a,
.footer-nav-middle__li-link a,
.footer-nav-bottom-ul a {
    text-decoration: none;
    color: var(--clr-footer-grey);
    font-family: 'Noto Sans',sans-serif;
    font-weight: normal;
}

.footer-nav-top__li-link a {
    font-size: 22px;
}

.footer-nav-middle__li-link a {
    font-size: 18px;
}

.footer-nav-top__li-link a:hover,
.footer-nav-middle__li-link a:hover,
.footer-nav-bottom__li-link a:hover {
    color: var(--clr-black);
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom__social {
    display: flex;
    gap: 1.75rem;
    padding: 0rem 2rem;
    border-right: 2px solid var(--papaya-orange);
    cursor: pointer;
}

.footer-bottom__social-fb,
.footer-bottom__social-twi,
.footer-bottom__social-ins,
.footer-bottom__social-you {
    fill: var(--clr-footer-grey);
}

.footer-bottom__social-fb:hover,
.footer-bottom__social-twi:hover,
.footer-bottom__social-ins:hover,
.footer-bottom__social-you:hover {
    fill: var(--clr-black);
}

.footer-bottom__payment {
    display: flex;
    gap: 1.75rem;
    padding: 0rem 2rem;
    border-right: 2px solid var(--papaya-orange);
}