@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

:root {
    --papaya-orange: #f1892a;
    --papaya-orange-hover: #aa6f1d;
    --clr-white: #ffffff;
    --clr-black: black;
}

.btn-primary {
    border: none;
    color: var(--clr-white);
}

.btn-primary:hover {
    background-color: var(--papaya-orange-hover);
}

.btn--orange {
    background-color: var(--papaya-orange);
}

.btn--x-close {
    /* border: none;
    background-color: #ffffff; */
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    position: relative;
}

h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    color: black;
}

p {
    color: black;
}

                                                                                        /* header announcement bar section  */

.header__annbar {
    background-color: var(--papaya-orange);
    color: var(--clr-white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.header__annbar--middle-col {
    grid-column: 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__annbar--right-col {
    grid-column: 3 / 3;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.header__annbar--login,
.header__annbar--cart-wrapper,
.header__annbar--cart-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.header__annbar--flag {
    cursor: pointer;
}

.flag-menu__box {
    position: absolute;
    z-index: 50;
    background-color: var(--clr-white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; /* max-width */
    height: 400px; /* max-height */
    padding: 2.25rem;
}

.flag-menu__box-icon-close {
    max-width: 2rem;
    max-height: 2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.flag-menu__box-title h2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 50px;
    padding-bottom: 1.125rem;
    border-bottom: 2px solid black;
    margin-bottom: 2.125rem;
}

.flag-menu__box-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: normal;
    text-transform: none;
    font-size: 1rem;
}

.flag-menu__box-content select {
    width: 100%;
    padding: 1rem .75rem;
}

.flag-menu__box-content button {
    width: 100%;
    padding: 1rem 2.5rem;
}

                                                                                        /* header menu section  */

.header__menu {
    background-color: var(--clr-black);
    display: flex;
    justify-content: space-between;
}

.header__menu--main-menu {
    display: flex;
    align-items: center;
}

.header__menu-ham {
    cursor: pointer;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.ham-svg {
    --button-color: var(--clr-white);
}

.ham-svg:hover {
    --button-color: var(--papaya-orange);
}

.header__menu--menu-links {
    display: flex;
    gap: 2rem;
}

.header__menu--menu-links a {
    color: var(--clr-white);
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.header__menu--menu-links a:hover {
    border-bottom: 2px solid var(--papaya-orange);
}

.header__menu-logo {
    background-color: var(--clr-white);
    padding: 2rem 1rem 2rem 11rem;
    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
}

                                                                                        /* ham menu section  */

.ham-menu {
    position: absolute;
    z-index: 50;
    width: 38%;
    background-color: var(--papaya-orange);
    padding: 3rem 2.5rem;
}

.opacity-black-bg::before,
.opacity-black-bg::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.5;
}

.ham-menu__close-ham-icon {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    margin-bottom: 2.25rem;
}

.ham-menu__menu-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid black;
}

.ham-menu__menu-links a {
    text-decoration: none;
    color: var(--clr-black);
    font-size: 4.375rem;
    line-height: 1;
    font-family: 'Space Grotesk', sans-serif;
}

.ham-menu__menu-links a:hover {
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.ham-menu__footer-links {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 1rem;
    font-size: 1rem;
}

.ham-menu__footer-links a {
    text-decoration: none;
    color: var(--clr-black);
}

                                                                                        /* cart menu section  */

.cart-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    width: 28%;
    height: 100vh;
    background-color: #ffffff;
    padding: 3rem 2.5rem;
}